[View in Colaboratory](https://colab.research.google.com/github/SyedRaza204/Assignment-of-Python/blob/master/Assignment_3_.ipynb)

<h3>Q no 1 : you have some strings in variable text your task is to make a list of capital letters only using list comprehension and print that list</h3>
<h4>Hint! explore isUpper() method then do this</h4>

In [0]:
text = "Relax All Zombies Architectures"
upper = [a for a in text if a.isupper()]
upper

['R', 'A', 'Z', 'A']

<h3>Q no 2: Make a list of numbers from 0 to 20 which is divisible by 2 using list comprehension</h3>

In [0]:
list = [a for a in range(0,21,2)]
print (list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

<h3>Q no 3 : Find all of the numbers from 1-1000 that are divisible by 7 by making a list using list comprehension and print it</h3>

In [0]:
list1 = [a for a in range(0,1000,7)]
print(list1)

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

<h3>Q no 4 : Count the number of spaces in a string below using list comprehension and print the result</h3>

In [0]:
text = "What a lovely weather hope everyone Enjoing it"
space = [a for a in text if a==" " ]
print("there are ", len(space) ," spaces in above string")

there are  7  spaces in above string

<h3>Q no 5 : Write a script that draws a triangle as below:</h3>

In [0]:
for a in range(1,13):
  for b in range(1,a):
    print("*",end=' ' )
  print("\n")

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

* * * * * * * *

* * * * * * * * *

* * * * * * * * * *

* * * * * * * * * * *

<h3>Q no 6 : Write a script that draws a geometric shape as below:</h3>

In [0]:
for x in range(1,7):
    for y in range(1,x):
        print("*", end=' ', flush=True)
    print('\n')  
for x in range(7,1,-1):
    for y in range(1,x):
        print("*", end=' ', flush=True)
    print('\n')

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * *

* * * *

* * *

* *

*

<h3>Q no 7 :Find all of the words in a string that are less than 4 letters using list comprehension</h3>

In [0]:
text = "Assignment num three is completed "
list = [a for a in text.split(" ") if len(a)<4]
list

['num', 'is', '']